body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(240, 228, 228);
    color: rgb(35, 32, 32);
    text-align: center;
    /* font-size: 25px; */
}

.saludo:hover {
    color: aqua;
}

button {
    font-size: 20px;
    padding: 10px;
    margin: 5px;
}

main {
    padding-top: 30px;
}