body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(240, 228, 228);
    color: rgb(35, 32, 32);
    text-align: center;
    /* font-size: 25px; */
}

.saludo:hover {
    color: aqua;
}

button {
    font-size: 20px;
    padding: 10px;
    margin: 5px;
}

main {
    padding-top: 30px;
}

i {
    margin: 5px;
}

.card-input{
    margin-left: 250px;
    margin-right: 250px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}